<template>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" v-bind:class="{'disabled' : !prev}">
                <a class="page-link" href="#" @click.prevent="previousPage(prev)">Previous</a>
            </li>

            <li class="page-item" v-for="n in total_pages" :class="{'active': n == current_page}">
                <a class="page-link" href="#" @click.prevent="getPage(n)">{{n}}</a>
            </li>

            <li class="page-item" v-bind:class="{'disabled' : !next}">
                <a class="page-link" href="#" @click.prevent="nextPage(next)">Next</a>
            </li>
        </ul>
    </nav>
</template>
<script>
    export default{
        props: ['prev', 'next', 'total_pages', 'current_page'],
        data(){
            return {

            }
        },
        methods:{
            getPage(n){
                this.$emit('fetchpage', n);
            },
            previousPage(url){
                this.$emit('fetchprevpage', url);
            },
            nextPage(url){
                this.$emit('fetchnextpage', url);
            }
        },
    }
</script>