<template>
    <div :class="widgetClass">
        <div class="card card-default widget dashboard">
            <div class="card-heading">
                <div class="card-controls">
                    <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                </div>
                <h3 class="card-title"><i class="ion" :class="icon"></i> {{title}}</h3>
            </div>
            <div class="card-body">
                    <span class="value">
                        {{value}}
                    </span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            title: String,
            value: Number,
            widgetClass: {
                type: String,
                default: 'col-md-3 col-sm-6'
            },
            icon : {
                type: String,
                default: 'ion-navicon-round'
            }
        },
        data(){
            return {

            }
        },

    }
</script>