<template>
    <input type="text" class="form-control" @input="onInput" data-input/>
</template>
<script>
    export default {
        props: [],
        data(){
            return {
                fp:null,
            }
        },
        methods:{
            onInput(event){
                this.$emit('input', event.target.value);
            },
            clear(){
                this.fp.clear();
            }
        },
        mounted(){
            if (this.fp) return;
            this.fp = flatpickr(this.$el, {
                minDate: "today",
                enableTime: true,
            });
        },
        beforeDestroy() {
            if (this.fp) {
                this.fp.destroy();
                this.fp = null;
            }
        },
    }
</script>