<template>
        <div class="modal fade" id="regLinkModal" tabindex="-1" role="dialog" aria-hidden="true" ref="regLinkModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                {{content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
    export default {
        data(){
            return {
                content: ''
            }
        },
        methods: {
            showModal($content=null){
                //this.$refs.regLinkModal.modal('show');
                $('#regLinkModal').modal('show');
                this.content = $content;
            },
            closeModal(){
                $('#regLinkModal').modal('hide');
            }
        },
        mounted(){
        }
    }
</script>