<template>

</template>
<script>
    export default{
        props: ['name', 'service'],
        methods:{
            pingServer(){

            },
        },
        created(){

        }
    }
</script>
<style>

</style>