@import url("https://fonts.googleapis.com/css?family=Varela+Round:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
body {
    font-family: "Varela Round", "Raleway", SansSerif!important;
}

#cssmenu > ul > li > a
{
    padding: 38px 25px 33px 25px;
}

.top-nav-collapse #cssmenu > ul > li > a {
    /*padding: 38px 25px 33px 25px!important;*/
    padding: 38px 15px 33px 5px!important;
}

.event-counter-blockOne .event-counter-block {
    padding-top: 34px;
    padding-bottom: 35px;
}

.top-nav-collapse .logo {
    margin-top: 1px;
    margin-bottom: 1px;
}

.banner-block{
    margin-top: 12%;
}
.banner-img{
    height:230px;
}

.listen-block{
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.listen-item {
    text-align: center;
}
.listen-element {
    position: relative;
    /* max-height: 477px; */
}
.listen-bg {
    width: 100%;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.overlay-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.listen-body{
    width: 100%;
    height: 150px;
}
.listen-body {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
    width: 100%;
}
.btn-play {
    color: #FFF;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 100px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.listen-body p {
    font-size: 24px;
    font-weight: 200;
    line-height: 1.05;
    position: relative;
    top: 46%;
    color: #FFF;
}

#section-new {
    position: relative;
    display: block;
    height: 370px;
}

#section-new body {
    background-color: #252830;
    color: white;
    font-family: "Lato";
}
#section-new .container-fluid {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    padding: 0px!important;
    margin:0px!important;
}
#section-new .media {
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease;
    width: 100%;
}
#section-new figure {
    height: 370px;
    overflow: hidden;
    position: relative;
}
#section-new figure a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
#section-new figure:hover .media {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}
#section-new figcaption {
    color: #252830;
    height: calc(100% - 30px);
    margin: 15px;
    right: 0;
    position: absolute;
    top: 0;
    width: 250px;
}
#section-new .body {
    background-color: white;
    bottom: 0;
    padding: 15px;
    position: absolute;
    width: 100%;
}
#section-new svg {
    height: inherit;
    width: 100%;
}
#section-new svg text {
    text-anchor: middle;
}
#section-new svg #alpha {
    fill: white;
}
#section-new svg .title {
    font-size: 28px;
    font-family: inherit;
    letter-spacing: 5px;
}
#section-new svg #base {
    fill: #555555;
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

