
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
@import "~noty/src/themes/nest.scss";
@import "~nprogress/nprogress.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

span.span-button:hover {
  cursor: pointer!important;
}

hr.small{
  margin-top: .5rem!important;
  margin-bottom: .5rem!important;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.link-icon {
  padding: 4px 6px;
  margin: 0 3px;
}

.widget.dashboard > .card-heading .card-title {
  text-transform: uppercase;
}
.widget.dashboard > .card-heading {
  padding: 16px;
}
.widget.dashboard .card-body{
  text-align: center;
}
.widget.dashboard .card-body span.value{
  font-size: 4em;
}
#event-page nav{
  padding:0;
}